/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Input y botón de búsqueda */
input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

button:hover {
    background-color: #ffdb4d;
}

/* Tarjeta del Pokémon */
.pokemon-card {
    display: none;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    width: 150px;
    height: 150px;
}

.pokemon-card h2 {
    margin: 10px 0;
}

.pokemon-card p {
    margin: 5px 0;
    font-size: 16px;
}
